body {

    background-color: rgb(201, 197, 197);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: black;
    width: 100%;
    height: 100px;
    float: left;
    margin-bottom: 1%;
}

aside {
    background-color: rgb(3, 3, 124);
    width: 20%;
    height: 500px;
    float: left;
}

aside p {

    text-align: center;
    margin-top: 30px;

}

aside h5 {

    text-align: center;
    margin-top: 35px;
}

aside h4 {
    margin-left: 10px;
}

main {
    background-color: white;
    color: black;
    width: 79%;
    height: 500px;
    float: right;

}

footer {
    background-color: black;
    width: 100%;
    height: 70px;
    float: left;
    margin-top: 0%;
    text-align: center;
}

section {
    margin-left: 10PX;
}












